<div class="question-box d-none">
  <div class="row">
    <%= f.fields_for :questions, Question.new(exam: @exam) do |ff| %>
      <div class="col-lg-12">
        <%= ff.label :title, class:"form-label" %>
        <div class="row">
          <div class="col-lg-11">
            <%= ff.text_field :title, class:"form-control w-100", placeholder:"Enter the question here !" %>
          </div>
          <div class="col-lg-1">
            <button class="btn btn-danger btn-sm rounded-0 delete-btn" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
        <br/>
        <div class="row">
          <% for index in 0..3 %>
            <%= ff.fields_for :options, @option = Option.new() do |fff| %>
              <div class="form-check col-lg-6 d-flex">
                <%= fff.radio_button :isCorrect, 1 ,:check => true, class:"" %>
                <%= fff.text_field :title, class:"form-control m-1", placeholder:"Enter the option here !" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <br/>
  <script>
    var index1 = 0
    $('input[type=radio]').change(function() {
      index1 = $(this).closest('.question-box').index();
      $(`#questions-box > :nth-child(${index1+1}) input[type=radio]`).change(function() {

        $(`#questions-box > :nth-child(${index1+1}) input[type=radio]`).not(this).prop('checked', false);

      });
    });

    $('.delete-btn').on('click', function() {
      $(this).closest('.question-box').remove()
    })
  </script>
</div>
